/*body*/
    body{
        background-color: #adadad;
    }

/*wrapper id*/
    #wrapper{
        margin: 1em auto;
        width: 960px;
        border: 5px solid #1335ae;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto auto auto;
        
    }
    #wrapper2{
        margin: 1em auto;
        width: 960px;
        border: 5px solid #1335ae;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto auto auto;
        /*background-color: white;*/
    }

/*headers*/
    header{
        background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
        border-bottom: 3px solid #1335ae;
        grid-column: span 10;
        max-width: 960px;
    } 
    h1{
        font-style: italic;
        font-weight: 400;
        padding-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }   
    h1 a{
        color: lightskyblue;
        text-decoration: none;
    }
    h1 a:hover{
        color:white;
    }

    h2{
        font-family:Arial, Helvetica, sans-serif;
        border-bottom: 4px solid #1335ae;
        margin-top: 5px;
        padding-bottom: 5px;
        color: #1335ae;
    }

/*nav*/
    nav{
        grid-column: span 10;
        margin: 0px;
        background-color: #1335ae;
        max-width: 960px;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
        border-bottom: 5px solid #1335ae;
        border-top: 2px solid #1335ae;
    }
    nav li{
        width: 237px;
        padding: 0px;
        list-style-type: none;
        display: inline-block;
        background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
    }
    nav li a{
        color: lightskyblue;
        text-decoration: none;
        display: block;
        font: bold 20px Arial, Helvetica, sans-serif;
        padding: 1em; /*this is the padding WITHIN the button*/
        background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
    }
    nav li a.active{
        background-image: linear-gradient(to bottom, #13d8f6, #16d6e4, #16bfd2, #15a1c0, #129469);
        color: white;
    }
    nav li a:hover:not(.active){
        background-image: linear-gradient(to bottom, #13d8f6, #16d6e4, #16bfd2, #15a1c0, #129469);
        color: white;
    }

/*blue OR aside class*/
    aside{
        background-color: #93c7e8;
        grid-column: span 3;
        padding: 15px;
        font-weight: bold;
        font-family:Georgia, Times, serif;
    }
/*white OR main class*/
    main{
        background-color: white;
        grid-column: span 7;
        padding: 15px;
        font-family:Georgia, Times, serif;
    }
    main a{
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
    main a:hover{
        color:maroon;
    }
/*invis class*/
    .invis{
        text-indent: -9999px; 
        /*THIS IS A TEMPORARY FIX BECAUSE IDK HOW TO MAKE THE LAST BOX IN MY NAV INVISIBLE!*/
    }
    .invis a:hover:not(.active){
        background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
        cursor: default;
    }

/*justify class*/
    .justify{
        text-align: justify;
    }

/*three class*/
    .three{
        background-color: white;
        font-family:Georgia, Times, serif;
        padding: 15px;
        margin: 0px;
        grid-column: span 3;
    }
    .three a{
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
    .three a:hover{
        color:maroon;
    }

/*float image*/
    .floatimageleft{
        float:left;
        border: 3px solid #1335ae;
        background-color:#ffffff;
        grid-column: span 2;
        margin: 5px 15px 0px 0px;
    }
    .floatimageright{
        float:right;
        border: 3px solid #1335ae;
        background-color:#ffffff;
        grid-column: span 2;
        margin: 5px 0px 5px 15px;
        width: 430px;
    }
    .floatimage3{
        width: 290px;
    }

/*footer*/
    footer{
        clear: both;
        grid-column: span 10;
        background-color: #e20000;
        border-top: 5px solid #1335ae;
        padding: 10px;
        max-width: 940px;
    }