/*headers*/
    h1{
        color:#00ff22;
        background-color: #000000;
    }
    h2{
        color:#00ff22;
        background-color: #000000;
    }
    h3{
        color:#00ff22;
        background-color: #000000;
    }
    h4{
        color:#00ff22;
        background-color: #000000;
    }

/*info id*/
    #infoid {
        color: #005e1e;
    }

/*span style class*/
    .spanstyle {
        color: #007502;
    }

/*p class*/
    .pclass {
        background-color: #00ff2254;
    }

/*div class*/
    .divclass {
        color:#008a12;
    }

/*links*/
    a {
        text-decoration: none;
        color: #b70000;
    }

    a:visited {
        color: #00d81d;
    }

    a:hover {
        color: #f2ff00;
        text-decoration: underline;
    }       